@import "variables";
*{
	margin: 0;
	padding: 0;
}
body {
    font-family: $fuente-principal;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    li::after{
        position: absolute;
        content: "";
        width: 0%;
        height: 4px;
        background-color: $color-1;
        left: 50%;
        bottom: -10px;
        transition: all 0.3s ease-in-out;
    }
    li:hover::after{
        width: 100%;
        left: 0;
    }
    @media (prefers-color-scheme: light) {
        background-image: url(../imagenes/fondo-madera.png);
        nav{
            background-color: $color-2;
        }
        .card{
            background-image: linear-gradient(-20deg, $color-1 0%, #21d4fd 100%);
        }
    }
    @media (prefers-color-scheme: dark) {
        background-image: url(../imagenes/fondo-madera-oscuro.jpg);
        nav{
            background-color: $color-3;
        }
        .head {
            color: white;
        }
        .card{
            background-image: linear-gradient(-20deg, $color-1 0%, $color-3 100%);
        }
    }
}