@import "variables";
*{
	margin: 0;
	padding: 0;
}
body {
    font-family: $fuente-principal;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    nav{
        background-color: $color-1;
    }
    @media (prefers-color-scheme: light) {
        background-image: url(../imagenes/fondo-madera.png);
    }
    @media (prefers-color-scheme: dark) {
        background-image: url(../imagenes/fondo-madera-oscuro.jpg);
        .head {color: white;}
    }
}