$color-1: #ab3ed8;
$color-2: #0069c0;
$fuente-principal: 'Fredoka', sans-serif;
$titulo: 80px;
$texto: 30px;
$redes:(
    facebook: #3b5998, 
    twitter: #55acee, 
    google: #dd4b39, 
    instagram: #ac2bac
);
@mixin radio($radio) {
    border-radius: $radio;
}
*{
	margin: 0;
	padding: 0;
}
body {
    font-family: $fuente-principal;
    nav{
        background-color: $color-1;
    }
    @media (prefers-color-scheme: light) {
        background-image: url(../imagenes/fondo-madera.png);
    }
    @media (prefers-color-scheme: dark) {
        background-image: url(../imagenes/fondo-madera-oscuro.jpg);
        .head {color: white;}
    }
}
main{
    .card{
        margin: 30px;
        background-color: $color-2;
        @include radio(20px);
    }
    .card-title{
        color: white;
    }
    .form-outline{
        margin: 30px;
    }
    .btn{
        margin: 30px;
        @include radio(20px)
    }
    .btn--2{
        @extend .btn;
        background-color: $color-1;
    }
    img{
        height: 100%;
        width: 100%;
        @include radio(20px);
    }
    .head{
        margin-top: 20px;
    }
}
@media screen and (min-width: 768px){
    .card-title{font-size: $titulo / 2;}
    .subtitle{font-size: $titulo / 4;}
    .card-text{font-size: $texto / 2;}
    .head {font-size: $titulo / 2;}
    .pregunta{
        height: 180px;
    }
}
@media screen and (min-width: 1024px){
    .card-title{font-size: $titulo;}
    .subtitle{font-size: $titulo / 2;}
    .card-text{font-size: $texto;}
    .head {font-size: $titulo;}
    .pregunta{
        height: 450px;
    }
}
@each $red, $color in $redes {
    .red--#{$red} {
        background-color: $color;
    }
}
